template(name="events")
  .pull-right
    {{> loginButtons align="right"}}

  if currentUser
    +eventForm

  .mt-5
    .mb-2
      h1.h3 Events

    table.table
      tr
        th name
        if currentUser
          th
      each events
        +eventRow

template(name="eventForm")
  .mb-2
    h1.h5 New Event

  form.event-form.js-new-event-form
    .mr-1
      input(type='text' name='name' placeholder='name')

    .input-group.mr-1
      .input-group-addon $
      input(type='number' name='cashAmount' placeholder='cash amount' step="1.00")

    button(type="submit" class="btn btn-primary") create


template(name="eventRow")
  tr(data-friendly-id=friendlyId)
    td
      a(href=url)= name
    if currentUser
      td
        button(data-id=_id class='event-delete-button js-delete-event-button')
          i.fa.fa-trash
