template(name="eventPay")
  div 
    with person
      | #{name}

    | is about to pay

    with event
      | $#{paypalAmount} for #{name}

  
  small (as always, please make sure the address bar has 'PayPal, Inc' in green before entering in your PayPal information)
  #paypal-button

  script(src="https://www.paypalobjects.com/api/checkout.js")
