template(name="eventPay")
  div 
    with person
      | #{name}

    | is about to pay

    with event
      | $#{cashAmount} + $#{paypalFee} for #{name}

  
  small (safety third; after clicking the button, please make sure the address bar has 'PayPal, Inc' in green before entering in any PayPal information)
  #paypal-button

  script(src="https://www.paypalobjects.com/api/checkout.js")
