template(name="eventPay")
  div 
    with person
      | #{name}

    is about to pay for

    with event
      | #{name}

  #paypal-button
  script(src="https://www.paypalobjects.com/api/checkout.js")
