template(name="people")
  .mb-5
    +personForm

  table.table
    tr
      th name
      th
    each people
      +personRow

template(name="personRow")
  tr(data-friendly-id=friendlyId)
    td #{name}
    td
      span.mr-md-2
        button(class=sendLinkClasses)
          i.fa.fa-share
          i.fa.fa-mobile
      span.mr-md-2
        a(href=payPath class='paypal-pay-button')
          i.fa.fa-paypal
      span.mr-md-2
        button(class='cash-paid-button')
          i.fa.fa-money
          i.fa.fa-check

template(name="personForm")
  form.person-form
    .mr-1
      input(type='text' name='name' placeholder='name' required='true')

    .mr-1
      input(type='tel' name='phoneNumber' placeholder='phone (optional)')

    button(type="submit" class="btn btn-primary") add
