template(name="people")
  if filterLetter
    +peopleTable
  else
    if currentUser
      .mb-4
        .h5 New hasher
        +personForm

    +filterButtons

template(name="filterButtons")
  .row
    each letters
      .filter-button-div
        if active
          a.filter-button(href=href)
            div #{display}
        else
          a.filter-button(disabled='disabled')
            div #{display}

template(name="personForm")
  form.person-form
    .mr-1
      input.form-control(type='text' name='name' placeholder='name' required='true')

    //-.mr-1
      //-input(type='tel' name='phoneNumber' placeholder='phone (optional)')

    button(type="submit" class="btn btn-primary") add
