template(name="eventList")
  .mb-5
    .pull-right
      +loginButtons align="right"

  .mb-2
    h1.h3 Events

  table.table
    each allEvents
      +eventListItem

  if currentUser
    +eventForm

template(name="eventForm")
  .mb-2
    strong New Event

  form.event-form($b='submit: createEvent')
    .input-group
      input(type='text' $b='value: name' placeholder='event name')

    .input-group
      input(type='text' $b='value: startsAt' placeholder='date and time')

    .input-group
      .input-group-addon $
      input(type='number' $b='value: cashAmount' placeholder='hash cash' step="1.00")

    button(type="submit" class="btn btn-primary") create


template(name="eventListItem")
  tr(data-friendly-id=friendlyId)
    td
      a(href=url)= name
    td= humanStartsAt
