template(name="eventDetail")
  .mb-4
    h1.h5 #{event.name}
    h2.h6 #{humanStartsAt} – $#{event.cashAmount}

  if filterLetter
    +peopleList event=event
  else
    +filterButtons

  if currentUser
    .mb-4
      .h6 Add hasher
      +personForm
