template(name="people")
  if filterLetter
    +peopleList event=event
  else
    +filterButtons

  if currentUser
    .mb-4
      .h6 Add hasher
      +personForm

template(name="filterButtons")
  .row
    each letters
      .filter-button-div
        if active
          a.filter-button(href=href)
            div #{display}
        else
          a.filter-button(disabled='disabled')
            div #{display}

template(name="personForm")
  form.person-form($b='submit: createPerson')
    .mr-1
      input.form-control(type='text' name='name' placeholder='name' required='true' $b='value: name')

    button(type="submit" class="btn btn-primary") add
